<p style="color: green"><%= notice %></p>
<div id="inventories">
  <h1>Inventories</h1>
  <% @inventories.each do |inventory| %>
    <%= render inventory %>
    <p>
      <%= link_to "Show this inventory", inventory ,class:'btn btn-primary'%>
    </p>
  <% end %>
  <%= link_to "New inventory", new_inventory_path ,class:'btn btn-success'%>
</div>
