<h1>Editing market</h1>
<%= render "form", market: @market %>
<br>
<% if session[:role] == 'admin'%>
  <div>
    <%= link_to "Show this market", @market ,class:'btn btn-primary'%> |
    <%= link_to "Back to markets", markets_path  ,class:'btn btn-primary' %>
  </div>
<%end%>
