<div class="row">
  <div class="col-4">
    <label class='fw-bold'>Email</label>
  </div>
  <div class="col-8">
    <p><%= @user.email%></p>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <label class='fw-bold'>Name</label>
  </div>
  <div class="col-8">
    <p><%= @user.name%></p>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <label class='fw-bold'>Role</label>
  </div>
  <div class="col-8">
    <p><%= session[:role]%></p>
  </div>
</div>
